<div class="container">
    <h3 class="panel-header">About </h3>

    <form>
  <div class="form-group row">
    <label for="inputInterests" class="col-sm-2 col-form-label">Interests</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="info.inputInterests" placeholder="Interests">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCharities" class="col-sm-2 col-form-label">Charities</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="info.inputCharities" placeholder="Charities">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPets" class="col-sm-2 col-form-label">Pets</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="info.inputPets" placeholder="Pets">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDob" class="col-sm-2 col-form-label">Drinking Alcohol</label>
    <div class="col-sm-10">
      <label class="radio-inline">
      <input type="radio" ng-model = "da" ng-change="RadioDA('yes')" name="da" ng-value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model = "da" ng-change="RadioDA('no')"name="da" ng-value="no">No
    </label>
    </div>
 </div>
  <div class="form-group row">
    <label for="inputDob" class="col-sm-2 col-form-label">Married</label>
    <div class="col-sm-10">
      <label class="radio-inline">
      <input type="radio" ng-model = "married" ng-change="RadioMarried('yes')" name="married" ng-value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model = "married" ng-change="RadioMarried('no')"name="married" ng-value="no">No
    </label>
    </div>
 </div>

  <div class="form-group row">
    <label for="inputTeam" class="col-sm-2 col-form-label">Social Media Handles</label>
    <div class="col-sm-10">
  <select class="form-control custom-select" ng-model="inputSMH">
    <option selected>Select the Social media handles</option>
    <option value="Facebook">Facebook</option>
    <option value="Twitter">Twitter</option>
    <option value="Instagram">Instagram</option>
    <option value="Youtube">Youtube</option>
    <option value="Twitch">Twitch</option>
    <option value="Snapchat">Snapchat</option>
  </select>
  </div>
  </div>
  <ul class="pager">
  <li><a href="#!/">Previous</a></li>
  </ul>
  <ul class="pager">
  <li ng-click="save();submit()"><a href="#!/list">Submit</a></li>
  </ul>
</form>
</div>
