<div id="todoPanel" class="panel">
    <h3 class="panel-header">List of Athletes </h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>No</th>
            <th>Name</th>
            <!-- <th>Date of Birth</th> -->
            <th>Gender</th>
            <th>Association</th>
            <th>Nationality</th>
            <th>Location</th>
            <th>Team</th>
            <th>Interests</th>
            <th>Charities</th>
            <th>Pets</th>
            <th>Drinking Alcohol</th>
            <th>Married</th>
            <th>Social Media handles</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in athletes">
            <td>{{$index+1}}</td>
            <td class="capitalize">{{item.basic_info.name}}</td>
            <!-- <td>{{item.basic_info.dob}}</td> -->
            <td class="capitalize">{{item.basic_info.gender}}</td>
            <td class="capitalize">{{item.basic_info.association}}</td>
            <td class="capitalize">{{item.basic_info.nationality}}</td>
            <td class="capitalize">{{item.basic_info.location}}</td>
            <td class="capitalize">{{item.basic_info.team}}</td>
            <td class="capitalize">{{item.about.interests}}</td>
            <td class="capitalize">{{item.about.charities}}</td>
            <td class="capitalize">{{item.about.pets}}</td>
            <td class="capitalize">{{item.about.drinks_alcohol}}</td>
            <td class="capitalize">{{item.about.married}}</td>
            <td class="capitalize">{{item.social_media_handles}}</td>
        </tr>
        </tbody>
    </table>

</div>
